include *.in
include *.txt
include *.rst
recursive-include pyoctree *.pyd
recursive-include pyoctree *.pyx
recursive-include pyoctree *.h
recursive-include pyoctree *.cpp
recursive-include Examples *.*
